:root{
    --primary-color: #151920;
    --secundary-color: #db3232;
    --terciary-color:  #570303;
    --quaternary-color: #fa7474;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header{
    background-color: var(--secundary-color);
    width: 100%;
    padding: 35px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 20px;
    position: relative;
}

.links a{
    margin-left: 30px;
    text-decoration: none;
    color:var(--terciary-color);
}

.links a:hover{
    color: var(--quaternary-color);
    transition: color 300ms;
    font-weight: bold;
}

.links a.active{
    font-weight: bold;
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 900ms ease-in-out;
}

